# Minimal i386 Kernel Configuration

CONFIG_X86=y
CONFIG_X86_64=y
CONFIG_MODVERSIONS=y
CONFIG_MODULE_UNLOAD=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_BLK_DEV_FD=y
CONFIG_BLK_DEV_SD=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_VIRTUALIZATION=y
CONFIG_HZ_100=y
CONFIG_HZ_250=y
CONFIG_HZ_1000=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
